.App {
  text-align: center;
  border: 2px solid rgb(41, 40, 40);
  background: ivory;
  font-family: "Martel", serif;
}
.headerBox {
  position: sticky;
  top: 0;
  margin: 0;
  background: rgb(153, 36, 36);
  color: ivory;
  height: 70px;
}

h1 a {
  margin: 0;
  color: ivory;
  font-family: "Calistoga", cursive;
  font-size: 30px;
  align-items: center;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Patua One", cursive;
  font-size: 20px;
  color: rgb(41, 40, 40);
}

p {
  font-size: 13px;
}

.navBar {
  border: 2px solid rgb(41, 40, 40);
  position: sticky;
  background: ivory;
  top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "topics signIn";
  align-items: baseline;
  justify-items: center;
  max-height: 100px;
}

.articleCard {
  border: 2px solid rgb(41, 40, 40);
  display: grid;
  grid-template-columns: 75px auto;
  margin: 10px;
}

.articleInfo {
  grid-column-start: 2;
}

.voter {
  grid-column-start: 1;
  grid-row-start: 1;
  /* justify-items: center;
  align-items: center; */
}

/* .articlesList {
  border: 2px solid blueviolet;
} */

.singleArticle {
  border: 2px solid palevioletred;
}

.commentList {
  border: 2px solid forestgreen;
}

.commentCard {
  border: 2px solid mediumturquoise;
}

/* .signIn {
  border: 2px solid blue;
} */

.commentForm {
  border: 2px solid chartreuse;
}

.deleteComment {
  border: 2px solid darkcyan;
}

.articleAdder {
  border: 2px solid goldenrod;
  background: ivory;
}

button {
  border: none;
  background: none;
  font-family: "Calistoga", cursive;
  font-size: 12px;
}

button:hover {
  font-size: 15px;
}
