.App {
  text-align: center;
  border: 2px solid rgb(41, 40, 40);
  background: ivory;
  background-size: 100%;
  max-height: 100%;
  font-family: "Martel", serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

.headerBox {
  position: sticky;
  top: 0;
  margin: 0;
  padding-top: 0.7em;
  background: rgb(153, 36, 36);
  color: ivory;
  height: 70px;
  z-index: 5;
}

h1 a {
  margin: 0;

  color: ivory;
  font-family: "Calistoga", cursive;
  font-size: 30px;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Patua One", cursive;
  font-size: 20px;
  color: rgb(41, 40, 40);
}

p {
  font-size: 13px;
}

.navBar {
  border: 2px solid rgb(41, 40, 40);
  position: sticky;
  background: ivory;
  top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "topics signIn";
  align-items: baseline;
  justify-items: center;
  max-height: 115px;
  z-index: 5;
}

.articleCard {
  border: 2px solid rgb(41, 40, 40);
  display: grid;
  grid-template-columns: 75px auto;
  margin: 10px;
}

.articleInfo {
  grid-column-start: 2;
}

.voter {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-items: center;
  align-self: center;
}

.singleArticle {
  margin-right: 20px;
  display: grid;
  grid-template-columns: 75px auto;
  position: relative;
}

.articleVoter {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-top: 20px;
}

.commentCard {
  margin: 10px;
  border: 2px solid rgb(41, 40, 40);
  display: grid;
  grid-template-columns: 75px auto;
}

.commentForm {
  margin-bottom: 20px;
}

.commentVoter {
  grid-column-start: 1;
  align-self: center;
}

.commentCardBody {
  grid-row-start: 1;
  grid-column-start: 2;
}

.upArrow button {
  background: url("https://image.flaticon.com/icons/svg/16/16049.svg");
  background-repeat: no-repeat;
  transform: rotate(270deg);
  z-index: 1;
  border: none;
}
.upArrow button:hover {
  font-size: 12px;
}

.upArrow button:disabled {
  opacity: 25%;
}

.downArrow button {
  background: url("https://image.flaticon.com/icons/svg/16/16049.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  z-index: 1;
  border: none;
}

.downArrow button:hover {
  font-size: 12px;
}

.downArrow button:disabled {
  opacity: 25%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: rgb(153, 36, 36);
  bottom: 0;
  z-index: 5;
  color: ivory;
}

.footer {
  background: rgb(153, 36, 36);
  color: ivory;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  height: 2.5rem;
}

.downPageArrow button {
  background: url("https://image.flaticon.com/icons/svg/16/16049.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  border: none;
}

.downPageArrow button:hover {
  font-size: 15px;
}

.downPageArrow button:disabled {
  opacity: 25%;
}

.upPageArrow button {
  background: url("https://image.flaticon.com/icons/svg/16/16049.svg");
  background-repeat: no-repeat;
  border: none;
}

.upPageArrow button:hover {
  font-size: 12px;
}

.upPageArrow button:disabled {
  opacity: 25%;
}

.upPageArrow button:disabled:hover {
  font-size: 12px;
}

.deleteComment {
  justify-content: center;
  align-content: center;
}

.articleAdder {
  border: 2px solid goldenrod;
  background: ivory;
}

button {
  border: 1px solid rgb(41, 40, 40);
  background: none;
  font-family: "Calistoga", cursive;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  font-size: 15px;
}

select {
  font-family: "Calistoga", serif;
  background-color: rgb(153, 36, 36);
  color: ivory;
  text-align: center;
  appearance: none;
  background-image: url("https://image.flaticon.com/icons/svg/16/16049.svg");
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

option {
  text-decoration-color: none;
  background-color: rgb(153, 36, 36);
}

textarea:required {
  box-shadow: none;
}

textarea:invalid:focus {
  box-shadow: 0 0 2.5px red;
}

input:required {
  box-shadow: none;
}

input:invalid:focus {
  box-shadow: 0 0 2.5px red;
}
