.App {
  text-align: center;
  border: 2px solid red;
}

.navBar {
  border: 2px solid rosybrown;
}

.headerBox {
  border: 2px solid olivedrab;
}

.articlesList {
  border: 2px solid blueviolet;
}

.articleCard {
  border: 2px solid aqua;
}

.singleArticle {
  border: 2px solid palevioletred;
}

.commentList {
  border: 2px solid forestgreen;
}

.commentCard {
  border: 2px solid mediumturquoise;
}

.signIn {
  border: 2px solid blue;
}
